# Node
node_modules/
npm-debug.log*
yarn-error.log

# Vite / build
dist/
.vite/

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
tfplan

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Editor
.vscode/
